{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>О компании</h1>
<div class="main">
    <div class="pic-about">
        <img src="{% static 'pic/resume.jpg' %}" alt="Картинка">
    </div>
    <div class="about">
        <p>
            ООО «Центр ценообразования «Стимул» – это молодая, динамично развивающаяся компания. За период своей деятельности «Центр ценообразования «Стимул» удалось добиться значительных успехов в области ценообразования в строительстве и зарекомендовать себя как компетентная и профессиональная компания. Отзывы наших партнеров говорят сами за себя.
        </p>
        <p>
            Такие результаты получены благодаря высококвалифицированной команде специалистов, работающих в нашей организации, а так же применению современных цифровых технологий и комплексного подхода при решении поставленных задач.
        </p>
        <p>
            В настоящее время ООО «Центр ценообразования «Стимул» обладает:
        </p>
        <ul>
            <li>
                Уникальным программным обеспечением в сфере ценообразования в строительстве;
            </li>
            <li>
                Полностью укомплектованной командой специалистов, способных решить широкий спектр задач в области ценообразования;
            </li>
            <li>
                Необходимой материально-технической базой.
            </li>
        </ul>
        <p>
            С уверенность можем сказать, что мы готовы решить Ваши проблемы в области ценообразования.
        </p>
    </div>       
</div>
<div class="partners">
    <h1>Наши партнеры</h1>
    <div class="partner_list">
        {% for partner_url in partners %}
        <div class="partner">
            <img src="{{ partner_url }}" alt="Картинка">
        </div>
        {% endfor %}
    </div>
</div>   
<div class="extra">
    <h1>
        Важность перехода на ресурсно-индексный метод ценообразования в строительстве
    </h1>
    <p>
        В настоящее время в стране сложилась непростая экономическая ситуация, в том числе, и в сфере ценообразования в строительной отрасли. По применяемому базисно-индексному методу сметная стоимость строительства определяется с применением к сметной стоимости, определенной с использованием единичных расценок, в том числе их отдельных составляющих, сведения о которых включены в ФРСН, разработанных в базисном уровне цен, соответствующих индексов изменения сметной стоимости. Те методы и инструменты ценообразования, которые применяются на сегодняшний день уже исчерпали себя, поскольку уровень формируемых сметных цен далек от аналогичных рыночных показателей, что значительно повышает риск срыва конкурсных процедур, а также неисполнения принятых обязательств по строительным контрактам.
    </p>
    <p>
        Сметная стоимость строительства по ресурсно-индексному методу определяется с использованием сметных норм, сметных цен строительных ресурсов в базисном уровне цен и одновременным применением информации о сметных ценах, размещенной в ФГИС ЦС, а также индексов изменения сметной стоимости к составляющим единичных расценок в базисном уровне цен.
    </p>
    <p>
        Таким образом, существующим вызовам, в настоящее время, наиболее отвечает ресурсно-индексный метод, при котором применяется уровень цен, сложившихся ко времени составления сметной документации (текущий уровень цен). При данном методе источниками формирования сметной стоимости строительства объектов в текущем уровне цен является информация о сметных ценах из ФГИС ЦС.
    </p>
    <p>
        ФГИС ЦС – это государственная информационная система общего пользования в сфере ценообразования в строительстве, представляющая собой площадку взаимодействия государства, поставщиков и производителей, а также профессионального строительного сообщества. 
    </p>
    <p>
        Цель создания ФГИС ЦС – информационная поддержка процесса и порядка определения сметной стоимости объектов капитального строительства.
    </p>
    <p>
        Одним из ключевых условий полноценного применения ресурсно-индексного метода является наполняемость системы ФГИС ЦС данными.
    </p>
    <p>
        ООО «Центр ценообразования «Стимул» может разработать и выполнить комплекс мероприятий, направленных на максимизацию наполнения ФГИС ЦС региона. Имея серьезный практический опыт в данном вопросе, мы готовы оказать широкий спектр услуг в сфере оптимизации процессов, связанных с ценообразование в регионе.
    </p>
</div>

{% endblock %}