{% load static %}
{% load custom_template_tags %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'mobile.css' %}">
    <link rel="stylesheet" href="{% static 'slider.css' %}">
    <script defer src="{% static 'slider.js' %}"></script>
    <title>Стимул</title>
</head>

<body>
    <nav>
        <div class="mobile-menu">
            <span id="mobile-menu" onclick="switchElement(this, '-content')">≡</span>
            <div id="mobile-menu-content" class="mobile-menu-content hide">
                <ul class="menu">
                    <li class="nav-element">
                        <a href="/">О компании</a>
                    </li>
                    <li class="nav-element">
                        <a href="/managers">Руководство</a>
                    </li>
                    <li class="nav-element">
                        <a href="/expirience">Опыт работы</a>
                    </li>
                    <li class="nav-element">
                        <a href="/contacts">Контакты</a>
                    </li>
                        
                    <li class="nav-element">
                        <a href="/services">Услуги</a>
                    </li>
                    <li class="nav-element">
                        <a id="popup-1" onclick="switchElement(this, '-feedback')" href="#">Обратная связь</a>
                    </li>
                    <li class="nav-element">
                        <a href="/suppliers">Поставщики</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="logo-wrapper">
            <a href="/" class="logo">
                <span class="title">СТИМУЛ</span>
                <span>ЦЕНТР</span>
                <span class="subtitle">ЦЕНООБРАЗОВАНИЯ</span></a>
            <!-- <img src="./media/logo.sv" alt="СТИМУЛ"> -->
        </div>
        <div class="nav-elems">
            <ul class="menu">
                <li class="nav-element">
                    <a href="/">О компании</a>
                    <ul>
                        <a href="/managers"><li>Руководство</li></a>
                        <a href="/expirience"><li>Опыт работы</li></a>
                        <a href="/contacts"><li>Контакты</li></a>
                    </ul>
                </li>
                <li class="nav-element">
                    <a href="/services">Услуги</a>
                </li>
                <li class="nav-element">
                    <a id="popup-1" onclick="switchElement(this, '-feedback')" href="#">Обратная связь</a>
                </li>
                <li class="nav-element">
                    <a href="/suppliers">Поставщики</a>
                </li>
            </ul>
        </div>
        <!-- <div class="login"></div> -->
    </nav>
    <!-- <div class="banner">
        <div class="company_name">
            <span class="desktop">Общество с ограниченной ответственностью<br></span><span class="mobile">ООО</span>
            Центр ценообразования «Стимул»
        </div>
    </div> -->
    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-contact-list">
                <div class="footer-contact">
                    <div class="footer-contact-name">
                        Телефон:
                    </div>
                    <div class="footer-contact-value">
                        +7(4932)773576
                    </div>
                </div>
    
                <div class="footer-contact">
                    <div class="footer-contact-name">
                        email:
                    </div>
                    <div class="footer-contact-value">
                        stimul37Iv@yandex.ru
                    </div>
                </div>
    
            </div>
            <div class="footer-menu">
                <div class="footer-menu-content">
                    <ul class="menu">
                        <li class="nav-element">
                            <a href="/">О компании</a>
                        </li>
                        <li class="nav-element">
                            <a href="/managers">Руководство</a>
                        </li>
                        <li class="nav-element">
                            <a href="/expirience">Опыт работы</a>
                        </li>
                        <li class="nav-element">
                            <a href="/contacts">Контакты</a>
                        </li>
                            
                        <li class="nav-element">
                            <a href="/services">Услуги</a>
                        </li>
                        <li class="nav-element">
                            <a id="popup-1" onclick="switchElement(this, '-feedback')" href="#">Обратная связь</a>
                        </li>
                        <li class="nav-element">
                            <a href="/suppliers">Поставщики</a>
                        </li>
                    </ul>
    
                </div>
            </div>
        </div>
        
  
    </div>
    <div id="popup-1-feedback" class="popup hide">
        <div class="popup_wrapper">
            <div class="popup_content">
                <h1>Оставьте свои контактные данные:</h1>
                <h2 id="status" class="status hide"></h2>
                <form id="feedbackData">
                    {% csrf_token %}
                    <p class="about_p">
                        <label for="id_fio">Имя:</label>
                    </p>
                    <p class="about_p">
                        <input name="fio" required="" id="id_fio">
                    </p>
                    <p class="about_p">
                        <label for="id_firm_name">Название организации:</label>
                    </p>
                    <p class="about_p">
                        <input name="firm_name" required="" id="id_firm_name">
                    </p>
                    <p class="about_p">
                        <label for="id_phone">Номер телефона:</label>
                    </p>
                    <p class="about_p">
                        <input name="phone" required="" id="id_phone">
                    </p>
                    <p class="about_p">
                        <label for="id_email">Электронная почта:</label>
                    </p>
                    <p class="about_p">
                        <input type="email" name="email" maxlength="254" required="" id="id_email">
                    </p>
                    <p class="pdn" onclick="switchPdnBtn(this)">
                        <input   type="checkbox" name="pdn" id="pdn" class="chkpdn">
                        <label for="pdn">
                            Нажмая кнопку "Отправить" Я даю
                            <a href="/static/docs/Согласие ПД.pdf" class="clickable">согласие</a>
                            на обработку персональных данных, определенных
                            <a href="/static/docs/Политика конфиденциальности.pdf" class="clickable">"Политикой конфидициальности".</a>
                        </label>
                    </p>
                    <p class="buttons_form">
                        <button type="button" id="popup-1" onclick="switchElement(this, '-feedback')" class="cancel">Закрыть</button>
                        <button type="button" id="popup-1" onclick="sendFeedback(this, '-feedback')" class="submit feedbacksub">Отправить</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <!-- <script type="text/javascript" language="javascript" src="{% static 'popup_worker.js' %}"></script> -->
    <script type="text/javascript" language="javascript" src="{% static 'switchElement.js' %}"></script>
</body>

</html>