{% extends 'base.html' %}
{% block content %}
<h1>Контакты</h1>
<div class="contact-list">
    {% for contact in contacts %}
    <div class="contact">
        <div class="contact-name">
            {{ contact.name }}
        </div>
        <div class="contact-value">
            {{ contact.value }}
        </div>
    </div>
    {% endfor %}
    <div>
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A71b924cf78a9fcc3f841a110e1a6ad96d23b871bc79f1a7561423fb7d2a6b5bd&amp;source=constructor" height="372" frameborder="0"></iframe>
    </div>
</div>
{% endblock %}