{% extends 'base.html' %}
{% block content %}
<h1>Опыт работы</h1>
<div class="about">
    <p class="about_p">
        ООО «Центр ценообразования «Стимул» работает на территории Ивановской области с 2022 года. За короткий срок исполнено несколько контрактов оказания услуг мониторинга цен строительных ресурсов. При выполнении каждого контракта учитывались особенные условия заказчика.
    </p>
    <p class="about_p">
        Ивановская область – мониторинг цен строительный ресурсов, оборудования, машин и механизмов, сопоставление номенклатуры цен с классификатором строительных ресурсов, перевод единиц измерения в соответствие с единицами измерения классификатора строительных ресурсов, предоставление информации в виде обосновывающего документа на строительные ресурсы, сбор, сопоставление, агрегирование, анализ стоимости строительных ресурсов поставщиков, оборудования, машин и механизмов для подготовки экспорта цен ресурсов на портал ФГИС ЦС.
    </p>
    <p class="about_p">
        Ульяновская область – мониторинг цен оборудования, машин и механизмов, сопоставление номенклатуры цен с классификатором строительных ресурсов, перевод единиц измерения в соответствие с единицами измерения классификатора строительных ресурсов, предоставление информации в виде обосновывающего документа на строительные ресурсы.
    </p>
</div>
{% endblock %}