{% extends 'base.html' %}
{% block content %}
<h1>Поиск поставщиков</h1>
<div class="info">
    <a id="info" onclick="switchDetail(this)" href="#">Информация об услуге ></a>
</div>
<div class="info_details hide" id="info-detail">
    <div class="info_detail">
        Сервис предназначен для подбора поставщиков ресурсов, из числа поставщиков, производителей и импортеров, подающих или по которым подаются в Федеральную государственную информационную систему ценообразования в строительстве сведения об отпускных ценах материалов, изделий, конструкций, оборудования, произведенных в России или ввезенных в страну. Такие поставщики, производители и импортеры представлены в информационной системе «Стимул».
    </div>
    <div class="info_detail">
        Подбор осуществляется путем загрузки на данной странице ведомости ресурсов или локального сметного расчета в формате MS Excel (XLS, XLSX), рассчитанного ресурсно-индексным методом на ФСНБ-2022. Сервис произведет поиск имеющихся в загруженном файле материалов, изделий, конструкций и оборудования в информационной системе «Стимул» по кодам данных ресурсов. Для найденных ресурсов вам будут представлены поставщики.
    </div>
    <div class="info_detail">
        Отметьте интересующих вас поставщиков и сервис автоматически сформирует и отправит запрос ценовых предложений по электронной почте к указанным поставщикам. (В разработке)
    </div>
</div>
<script>
    function switchDetail(e){
        let details = document.getElementById(e.id + "-detail");
        
        if (details.classList.contains("hide")) {
            details.classList.remove('hide');
        
        } else {
            details.classList.add('hide');
        }
    };
</script>
<div class="search_suppliers">
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <p>
            <input name="resorces_list" type="file" required>
        </p>
        <p>
            <input type="radio" id="Choice1" name="search_renge" value="All" />
            <label for="Choice1">Показать всех найденых и не найденых поставщиков</label>
        </p>
        <p>
            <input type="radio" id="Choice2" name="search_renge" value="Found" checked/>
            <label for="Choice2">Показать только найденых поставщиков для ресурсов из файла</label>
        </p>
        <p>
            <input type="radio" id="Choice3" name="search_renge" value="NotFound" />
            <label for="Choice3">Показать только те ресурсы, для которых не найдены поставщики</label>
        </p>
        <p>
            <label for="periods">Расчетный период: </label>
            <select name="period" id="periods">
                <option value="All">Все</option>
                <option value="12022">1ый квартал 2022г.</option>
                <option value="22022">2ый квартал 2022г.</option>
                <option value="32022">3ый квартал 2022г.</option>
                <option value="42022">4ый квартал 2022г.</option>
                <option value="12023">1ый квартал 2023г.</option>
                <option value="22023">2ый квартал 2023г.</option>
                <option value="32023">3ый квартал 2023г.</option>
                <option value="42023">4ый квартал 2023г.</option>
                <option value="12024">1ый квартал 2024г.</option>
                <option value="22024">2ый квартал 2024г.</option>
                <option value="32024">3ый квартал 2024г.</option>
                <option value="42024">4ый квартал 2024г.</option>
            </select>
        </p>
        <p>
            <input type="submit" value="Отправить">
        </p>
    </form>
</div>

{% if result.status == '200' %}
<h1>Результаты поиска</h1>
<div>имя файла: {{ result.file_name }}</div>
<div>Всего обнаружено ресурсов: {{ result.res_total }}</div>
<div>Количество поставщиков данных ресурсов: {{ result.sup_found }}</div>
<h2>Список ресурсов:</h2>
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>-</th>
            <th>Название</th>
            <th>Ценовой регион</th>
            <th>ИНН/ОГРН</th>
            <th>Адрес</th>
            <th>Контакты</th>
        </tr>
        {% for resource in result.resources %}
            <tr>
                <th colspan="6" class="table_resource_name">{{ resource.code_orig }} - {{ resource.name }}</th>
            </tr>
            {% if resource.suppliers %}
                <tr>
                    <td colspan="6" class="table_status">Поставщики данного ресурса:</td> 
                </tr>
                {% for supplier in resource.suppliers %}
                    <tr id="row-{{ resource.code_orig }}-{{ supplier.inn }}" onclick="switchInput(this)">
                        <td class="table_checkbox"><input type="checkbox" name="ch" id="{{ resource.code_orig }}-{{ supplier.inn }}" value="{{ resource.code_orig }}|-|{{ supplier.inn }}"></td>
                        <th>{{ supplier.name }}{% if supplier.fromrrp == 'true' %}<br/>(Рекомендованный поставщик){% endif %}</label></th>
                        <td>{{ supplier.price_zone }}</td>
                        <td><p>{{ supplier.inn }}</p><p>{{ supplier.ogrn }}</p></td>
                        <td class="table_address">{{ supplier.addresslegal }}</td>
                        <td><p>{{ supplier.email }}</p><p>{{ supplier.phone }}</p></td>

                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6" class="table_status">Поставщики не найдены</td> 
                </tr>
            {% endif %}
            <tr>
                <th colspan="6"></th>
            </tr>
        {% endfor %}   
    </table>
    <!-- <p>
        <input type="submit" value="Отправить">
    </p> -->
</form>
<script>
    function switchInput(e){
        let checkbox = document.getElementById(e.id.replace("row-", ""));
        if (checkbox.getAttribute("checked")){
            checkbox.removeAttribute("checked");
            e.classList.remove("selected_row");
        } else {
            checkbox.setAttribute("checked", true);
            e.classList.add("selected_row");
        };
        
    };
</script>
{% else %}
    <h2>{{ result.error_text }}</h2>
{% endif %}

{% endblock %}