* {
    margin: 0;
    padding: 0;
    color: rgba(25, 47, 83);
    text-align: justify;
}

form p {
    margin-bottom: 10px;
}

.desktop {
    display: inline;
}

.mobile, .mobile-slider {
    display: none;
}

html, body {
    height: 100%;
    width: 100%;
    display: table;
}

h1 {
    margin-bottom: 30px;
    text-align:left;
    /* margin-top: 30px; */
}

.about_p {
    font-size: 1.3em;
    /* text-indent: 30px; */
    /* margin-top: 10px; */
}

.clickable:hover {
    cursor: pointer;
    background-color: rgba(66, 98, 149, 0.068);
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    max-width: 1300px;
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-bottom: 40px;
}

nav > div {
    display: inline-block;
}

.nav-element {
    display: block;
    padding: 5px;
}

.nav-element:hover {
    background-color: #e2eaf3;
    color: rgba(25, 47, 83);
    border-radius: 7px;
}

.nav-element ul {

    /* margin-left: 0; Отступ слева в браузере IE и Opera */
    padding-left: 0;
    display: none;
    position: absolute;
}

.nav-element li {
    /* text-align: center; */
    
    /* margin: 5px; */
    list-style-type: none;
    font-size: 1.1em;


    /* top: 100%; */
}

.nav-element:hover > ul {
    display:block;
    /* background-color: #e2eaf3; */
    
    padding: 3px;
    margin-top: 5px;
}

.nav-elems ul ul li{
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
    padding-inline-start: 0px;
    padding: 3px;
    margin: 3px;
}
.nav-elems ul ul li:hover{
    background-color: #e2eaf3;
    border-radius: 7px;
}

.logo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: 100px; */
    height: 100%;
    text-align: center;
}

.logo > .title {
    font-size: 3em;;
}

.mobile-menu {
    display: none;
}

.menu > li {
    display: inline-block;
    margin: 15px;
    font-size: 1.4em;
}

.banner {
    vertical-align: middle;
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: rgb(30, 68, 129); 
}

.company_name {
    font-size: 3em;
    color: white;
    max-width: 1000px;
}
.company_name > span {
    color: white;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    padding: 15px;
}

.content > .main {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    width: 100%;
}

.pic-about {
    margin-top: 10px;
    display: inline-block;
    /* background-color: rgb(184, 184, 184); */
    margin-right: 30px;
    max-width: 300px;
}

.pic-about > img {
    width: 100%;;
}

/* .pic-about > img {
    height: 400px;
    width: 300px;
} */

.about {
    display: inline-block;
    max-width: 1200px;
    width: 100%;
}

.about > h1 {
    margin-bottom: 30px;
}

.about > ul {
    /* margin-left: 60px; */
    font-size: 1.3em;
    list-style-position: inside;
    /* padding-inline-start: 0px; */
}

/* .about > ul > li {
    margin-top: 15px;
} */

.partners {
    margin-bottom: 60px
}

.partner_list {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    line-height: 200px;
}

.partner {
    width: 200px;
    display: inline-block;
    margin: 50px;
    line-height: normal;
    vertical-align: middle;
}

.partner > img {
    max-height: 200px;
    width: 100%;
}

.footer {
    display: table-row;
    margin-top: 40px;
    height: 200px;
    width: 100%;
    background-color: rgb(30, 68, 129); 
    color: white;
}

.services-list {
    max-width: 1000px;
    margin: 0 auto;
}

.service-wrap {
    display: inline-block;
    margin: 10px;
    
}

.service {
    font-size: 1.9em;
    padding: 5px;
    width: 300px;
    height: 300px;
    background-color: rgb(66, 98, 149);
    display: table-cell;
    vertical-align: middle;
    border-radius: 7px;
}

.service:hover {
    background-color: rgb(108, 152, 221);
}

.service-text {
    text-align: center;
    color: white;
    vertical-align: middle;
}

.contact {
    margin-bottom: 15px;
}

.contact-name {
    margin-bottom: 5px;
    font-size: 1.2em;
}

.contact-value {
    font-size: 1.5em;
}

.footer-contact-list {
    max-width: 1200px;
    padding: 20px;
    text-align: right;
    /* margin: 0 auto; */
}

.footer-contact-name {
    color: white;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.footer-contact-value {
    color: white;
    font-size: 1.5em;
}

.popup {
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    left: 0px;
    display: table;
    text-align: center;
    z-index: 1000;
}

.popup_wrapper {
    
    vertical-align: middle;
    text-align: center;
    max-height: 500px;
    display: table-cell;
}

.popup_content {
    background-color: white;
    display: inline-block;
    padding: 15px;
    max-width: 800px;
}

form > .about_p {
    text-indent: 0px;
}

.popup_content > form > p > input {

    width: 100%;
    font-size: 1.2em;
}

input[type=text] {

    outline: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid rgb(94, 94, 94);
}

#feedbackData input {
    outline: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.buttons_form {
    text-align: right;   
}

.buttons_form > button {
    font-size: 1.4em;
    margin: 5px;
}

button, .as-btn {
    
    outline: none;
    padding: 6px;
    border: 0px;
    cursor: pointer;
    color: white;
    background-color: rgb(30, 68, 129);
}

.cancel {
    background-color: brown;
    
}

.hide {
    display: none;
}

.suppliers-space {
    display: flex;
    justify-content: space-between;
}

.supplier-list {
    width: 70%;
}

.supplier-filters {
    width: 25%;
    padding: 5px;
    margin: 10px;
    background-color: rgb(247, 247, 247);
}

.supplier-card {
    margin: 10px;
    border: 1px solid rgb(30, 68, 129);
}

.supplier-card:hover .name-container {
    background-color: rgb(30, 68, 129);
}

.supplier-card:hover .name-container > .name {
    color: white;
}

.supplier-card .name-container > .name {
    padding: 3px;
}

.in-rrp {
    color: white;
    height: 1em;
    padding: 4px;
    font-size: 0.5em;
    background-color: rgb(0, 180, 0);
    display: inline-block;  
}

.supplier-card > .name-container {
    font-size: 1.5em;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.supplier-details {
    margin: 15px;
}

.supplier-detail {
    font-size: 1em;
    margin: 5px;
}

.resource-card {
    margin-top: 10px;
    margin-bottom: 15px;
}

.resource-suppliers {
    padding-top: 5px;
}

.bold {
    font-weight: bold;
}

.info {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.info_details {
    font-size: 1.1em;
    margin-bottom: 15px;
    background-color: rgba(66, 98, 149, 0.068);
    padding: 7px;
    border-radius: 7px;
}

.info_details {
    margin-bottom: 7px;
    text-indent: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid;
    text-align: center;
    vertical-align: text-top;
}

th, td {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
}

/* table suppliers */
.table_checkbox {
    width: 30px;
}

.table_status, .table_resource_name {
    text-align: left;
}

.table_address {
    max-width: 550px;
}

.selected_row.clickable:hover, .selected_row {
    background-color: rgba(66, 98, 149, 0.319);
}

.search_suppliers {
    margin-bottom: 30px;
}

.supplier-filters select {
    width: 100%;
}

.supplier-filters > h3 {
    margin-top: 20px;
}
.search_suppliers p, .supplier-filters p {
    margin-top: 10px;
}

.supplier-filters input[type=text] {
    font-size: 1.2em;
    width: 100%;
}

#resorces_list {
    display: none;
}

.search_suppliers_inputs {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-bottom: 15px;
}

.search_suppliers_inputs > {
    max-width: 300px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-menu {
    width: 35%;
    padding: 20px;
}

.footer-menu a {
    color: white;
    font-size: 0.9em;
}
.footer-menu li {
    margin: 3px;
}

.footer-menu .nav-element:hover a {
    background-color: #e2eaf3;
    color: rgba(25, 47, 83);
    border-radius: 7px;
}

.info-img {
    height: 1.1em;
    width: 1.1em;
    vertical-align: middle;
}

.suppliers-result {
    margin-bottom: 30px;
}

